.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
  margin-top: 36px;
}

.form-label {
  display: block;
}

.form-input {
  width: 272px;
  padding: 8px 16px;

  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form-input::placeholder {
  color: #808080;
}

.form-btn {
  width: 91px;
  height: 40px;

  padding: 8px 16px;
  border-radius: 8px;
  border: none;

  background: #4e75ff;
  color: #ffffff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  background: #2b63ff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* між картками */
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-item {
  width: 360px;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(46, 47, 66, 0.08);
}

.gallery-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.gallery-img {
  width: 100%;
  height: 200px; /* як у макеті */
  object-fit: cover;
  display: block;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  font-size: 12px;
}

.gallery-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-info-label {
  font-weight: 500;
}

.gallery-info-value {
  font-weight: 400;
}

.loader {
  width: 48px;
  height: 48px;
  margin: 0 auto 32px;

  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;

  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.is-visible {
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
